/* index.html*/
@media (max-width: 768px) {
    body {
        background-image: none;
        width: 100%;
    }

    .container-login {
        width: 90%;
    }
    .container-login input.dados {
        width: 90%;
    }
}
/*cliente.html e barbearia.html*/
@media (max-width:768px) {
    header {
        display: flex;
        flex-direction: column;
    }
    header img {
        margin: auto;
    }
    header nav li {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
    }
    footer {
        text-align: center;
    }
}